In [2]:
import numpy as np
import pandas as pd
%matplotlib inline

In [21]:
df=pd.read_csv('items.csv',error_bad_lines=False)

b'Skipping line 18656: expected 25 fields, saw 26\nSkipping line 20210: expected 25 fields, saw 26\nSkipping line 24284: expected 25 fields, saw 26\nSkipping line 25671: expected 25 fields, saw 26\nSkipping line 32052: expected 25 fields, saw 26\n'
b'Skipping line 33654: expected 25 fields, saw 26\nSkipping line 37586: expected 25 fields, saw 26\nSkipping line 43319: expected 25 fields, saw 26\nSkipping line 61269: expected 25 fields, saw 26\n'
b'Skipping line 72528: expected 25 fields, saw 26\nSkipping line 73591: expected 25 fields, saw 26\nSkipping line 89555: expected 25 fields, saw 26\nSkipping line 91553: expected 25 fields, saw 26\n'
b'Skipping line 108665: expected 25 fields, saw 26\nSkipping line 116677: expected 25 fields, saw 26\nSkipping line 117456: expected 25 fields, saw 26\nSkipping line 120957: expected 25 fields, saw 26\nSkipping line 128068: expected 25 fields, saw 26\n'
b'Skipping line 132036: expected 25 fields, saw 26\nSkipping line 138496: expected 25 fields, saw 26\nSkipping line 139437: expected 25 fields, saw 26\nSkipping line 140784: expected 25 fields, saw 26\nSkipping line 141471: expected 25 fields, saw 26\nSkipping line 143353: expected 25 fields, saw 26\nSkipping line 143727: expected 25 fields, saw 26\nSkipping line 152123: expected 25 fields, saw 26\nSkipping line 152471: expected 25 fields, saw 26\nSkipping line 156883: expected 25 fields, saw 26\n'
b'Skipping line 165549: expected 25 fields, saw 26\nSkipping line 169290: expected 25 fields, saw 26\nSkipping line 181604: expected 25 fields, saw 26\nSkipping line 182998: expected 25 fields, saw 26\nSkipping line 194788: expected 25 fields, saw 26\n'
b'Skipping line 205341: expected 25 fields, saw 26\nSkipping line 207044: expected 25 fields, saw 26\nSkipping line 213745: expected 25 fields, saw 26\nSkipping line 227437: expected 25 fields, saw 26\n'
b'Skipping line 238935: expected 25 fields, saw 26\nSkipping line 243172: expected 25 fields, saw 26\nSkipping line 252147: expected 25 fields, saw 26\nSkipping line 252236: expected 25 fields, saw 26\nSkipping line 252419: expected 25 fields, saw 26\nSkipping line 257694: expected 25 fields, saw 26\n'
b'Skipping line 273504: expected 25 fields, saw 26\nSkipping line 274026: expected 25 fields, saw 26\nSkipping line 277167: expected 25 fields, saw 26\nSkipping line 293241: expected 25 fields, saw 26\n'
b'Skipping line 298970: expected 25 fields, saw 26\nSkipping line 305882: expected 25 fields, saw 26\nSkipping line 311959: expected 25 fields, saw 26\nSkipping line 317073: expected 25 fields, saw 26\nSkipping line 317665: expected 25 fields, saw 26\nSkipping line 319660: expected 25 fields, saw 26\nSkipping line 320310: expected 25 fields, saw 26\nSkipping line 324553: expected 25 fields, saw 26\n'
b'Skipping line 328719: expected 25 fields, saw 26\nSkipping line 337438: expected 25 fields, saw 26\nSkipping line 341256: expected 25 fields, saw 26\nSkipping line 346362: expected 25 fields, saw 26\nSkipping line 349271: expected 25 fields, saw 26\nSkipping line 351518: expected 25 fields, saw 26\nSkipping line 353501: expected 25 fields, saw 26\n'
b'Skipping line 363747: expected 25 fields, saw 26\nSkipping line 370171: expected 25 fields, saw 26\nSkipping line 372160: expected 25 fields, saw 26\nSkipping line 376993: expected 25 fields, saw 26\nSkipping line 377762: expected 25 fields, saw 26\nSkipping line 377893: expected 25 fields, saw 26\nSkipping line 383504: expected 25 fields, saw 26\nSkipping line 391954: expected 25 fields, saw 26\n'
b'Skipping line 400415: expected 25 fields, saw 26\nSkipping line 409958: expected 25 fields, saw 26\nSkipping line 410436: expected 25 fields, saw 26\n'
b'Skipping line 438807: expected 25 fields, saw 26\nSkipping line 441750: expected 25 fields, saw 26\nSkipping line 444658: expected 25 fields, saw 26\nSkipping line 449843: expected 25 fields, saw 26\nSkipping line 453789: expected 25 fields, saw 26\nSkipping line 456571: expected 25 fields, saw 26\nSkipping line 457939: expected 25 fields, saw 26\n'
b'Skipping line 460973: expected 25 fields, saw 26\nSkipping line 464627: expected 25 fields, saw 26\nSkipping line 467643: expected 25 fields, saw 26\nSkipping line 469080: expected 25 fields, saw 26\nSkipping line 470387: expected 25 fields, saw 26\n'
C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (0,1,6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df.head()

,item_number,brand_id,brand_name,brand_tier_id,category_id,category_name,category_tier_id,itemization_category_group_id,sizing_id,size_tier_id,...,primary_material,secondary_material,original_msrp,original_price,payout_policy,seasonal_slope_30d,relisted,warehouse_id,listed_at,purchased_at
0,20042271,32737,Lucie Lu,6.0,346.0,Casual Dress,10,42.0,858.0,24.0,...,Polyester,Spandex,7100.0,1699.0,upfront,0.004244,0.0,4.0,2017-02-19 16:40:09,NaN
1,20028301,36671,Isabel + Alice,7.0,346.0,Casual Dress,10,42.0,844.0,24.0,...,Polyester,Spandex,11900.0,2699.0,upfront,0.004244,0.0,3.0,2017-02-19 14:22:42,NaN
2,22612071,2804,Free People,7.0,743.0,Short Sleeve Blouse,9,39.0,778.0,24.0,...,Cotton,Nylon,9800.0,2299.0,upfront,0.005165,1.0,1.0,2017-02-19 14:01:55,2017-02-19 17:25:19
3,22612052,982,Banana Republic,7.0,329.0,Pullover Sweater,10,40.0,812.0,24.0,...,Polyester,Metallic,7800.0,2599.0,upfront,-0.006519,1.0,3.0,2017-02-19 14:01:54,NaN
4,22612043,128,Gap,4.0,356.0,Jeans,10,77.0,806.0,24.0,...,Cotton,Polyester,7000.0,1699.0,upfront,-0.000691,1.0,3.0,2017-02-19 14:01:53,NaN

In [5]:
pdp = df[df.purchased_at.notnull()]

In [6]:
pdp.head()

,item_number,brand_id,brand_name,brand_tier_id,category_id,category_name,category_tier_id,itemization_category_group_id,sizing_id,size_tier_id,...,primary_material,secondary_material,original_msrp,original_price,payout_policy,seasonal_slope_30d,relisted,warehouse_id,listed_at,purchased_at
2,22612071,2804,Free People,7.0,743.0,Short Sleeve Blouse,9,39.0,778.0,24.0,...,Cotton,Nylon,9800.0,2299.0,upfront,0.005165,1.0,1.0,2017-02-19 14:01:55,2017-02-19 17:25:19
10,22612021,279,Old Navy,4.0,356.0,Jeans,10,77.0,832.0,24.0,...,Cotton,NaN,3500.0,899.0,upfront,-0.000691,1.0,5.0,2017-02-19 14:01:49,2017-02-19 16:19:07
19,22605481,1511,Lane Bryant,4.0,348.0,Casual Skirt,9,69.0,847.0,24.0,...,Cotton,NaN,3600.0,1099.0,upfront,0.001087,1.0,5.0,2017-02-19 14:01:43,2017-02-19 17:55:25
22,22604152,164,J Brand,28.0,356.0,Jeans,10,77.0,791.0,24.0,...,Cotton,Spandex,19600.0,3799.0,upfront,-0.000691,1.0,5.0,2017-02-19 14:01:40,2017-02-19 18:41:37
26,22604033,7884,Zara,5.0,745.0,Long Sleeve Blouse,10,39.0,812.0,24.0,...,NaN,NaN,6000.0,1699.0,upfront,0.000145,1.0,5.0,2017-02-19 14:01:38,2017-02-19 14:14:27

In [7]:
pdp.to_csv('pdp.csv')

In [19]:
pdp['purchased_at'] = pd.to_datetime(pdp['purchased_at'])
pdp['listed_at'] = pd.to_datetime(pdp['listed_at'])

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy